/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

table {
    -webkit-border-horizontal-spacing: 5px;
    -webkit-border-vertical-spacing: 5px;
}

.paddedHorizontalPanel {
    padding-left: 20px;
}

div.popupContent {
    border-style: solid;
    background-color: white;
}
